{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}


{% block title %}Ajouter un article
{% endblock %}

{% block body %}
	<style></style>

	<div class="example-wrapper">
		<h1>
			Ajouter un article 🖊️
		</h1>

		{{ form_start(formArticle) }}

		{# {{ form_widget(formArticle) }}   ----> remplacé par ci-dessou pour gestion des champs #}
        
		{{ form_row(formArticle.title, {'attr' : {'placeholder' : 'Ici un titre '} }) }}

		{{ form_row(formArticle.content, {'attr' : {'placeholder' : 'Ici un contenu '} }) }}

		{{ form_row(formArticle.image, {'attr' : {'placeholder' : 'Ici une image '} }) }}


		{{ form_end(formArticle) }}


	</div>

{% endblock %}
