<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/5/superhero/bootstrap.min.css">
			<link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{path('home')}}">Journal d('un)e Symfony 2021</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor03">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="{{path('blog')}}">Articles publiés
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('create')}}">Publier un article</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('blog_show')}}">Lire un article aléatoire</a>
						</li>
					</ul>
				</div>
			</div>
		</nav> #}
		{% block header %}  {% include 'blog/header.html.twig' %}  {% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}  {% include 'blog/footer.html.twig' %}  {% endblock %}
	</body>
</html>
